
body.front {
  margin-top: 50px;
  padding: 0 10px;

  header {
    margin: 20px 0 20px;
    img, h1 {
      vertical-align: middle;
      display: inline-block;
    }

    img {
      margin-right: 10px;
    }

    h1 {
      margin-bottom: 0;
    }
  }

  main {
    font: 13px "Helvetica Neue";
  }

  footer {
    font-size: 12px;
    color: #222;
  }
}

.container {
  max-width: 450px;
  margin: auto;
  text-align: center;
  font-size: 16px;

  p {
    text-align: left;
  }
}
